// ==========================================================================
// Utilities / layout
//
// ==========================================================================

.u-overflow-hidden {
  overflow: hidden;
}

/*
.u-fullscreen {
  width: 100%;
  height: 100%; //fix for IE 11
  min-height: 100vh;
}

.u-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
*/
