// ==========================================================================
// Utilities / text
//
// ==========================================================================

.u-uppercase {
  text-transform: uppercase;
}

.u-underline {
  text-decoration: underline;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}
