// ==========================================================================
// Components / buttons
// add state is-disabled
// ==========================================================================

.btn {
  position: relative;
  display: inline-block;
  font-family: $font-primary;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  cursor: pointer;
  outline: none !important;
  padding: rem-calc(12px) rem-calc(32px);
  transition: all $transition-normal $ease-out-quart;
  background-color: $color-black;
  color: $color-white;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border: 2px solid transparent;

    @include border-radius(100px);
  }

  @include fluid-type($breakpoint-sm, $breakpoint-lg, $button-font-size-min, $button-font-size-max);
  @include border-radius(100px);

  &:hover,
  &:active {
    color: $color-white;
    background-color: $color-blue-2;
  }

  &:focus {
    &::before {
      border-color: $color-blue-2;
    }
  }

  &[class*="--color-dark"] {
    border: 2px solid $color-primary;
    background-color: transparent;
    color: $color-primary;

    @include u-all-state {
      background-color: $color-primary;
      color: $color-light-green;
    }
  }

  &[class*="--color-light"] {
    border: 2px solid $color-light-green;
    background-color: transparent;
    color: $color-light-green;

    @include u-all-state {
      background-color: $color-light-green;
      color: $color-primary;
    }
  }

  &[class*="--icon"] {
    a {
      display: table;

      span {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        &:not(.icon__wrapper) {
          text-align: left;
        }
      }

      @include u-all-state {
        opacity: 1;

        .icon__wrapper {
          background: rgba($color-secondary, 0.4);
          border-color: transparent;
        }
      }
    }
  }

  &[class*="--icon-right"] {
    a {
      span:not(.icon__wrapper) {
        padding-right: 10px;
      }
    }
  }

  &[class*="--icon-left"] {
    a {
      span:not(.icon__wrapper) {
        padding-left: 10px;
      }
    }
  }

  &[class*="--plain"] {
    padding: 0.6rem 1.25rem;
    color: $color-white;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid $color-white;
    border-radius: 40px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    font-size: 14px;
    line-height: 1.75;
    font-weight: 400;
    transition: all $transition-normal ease;

    @include u-all-state {
      // background-color: $color-white;
      // color: $color-black;
      opacity: 1;
    }
  }

  &[class*="--disabled"] {
    opacity: 0.6;
    pointer-events: none;
  }

  .--arrow-icon {
    padding-left: rem-calc(6px);
    height: 20px;
    width: 40px;
  }

  &[class*="--with-icon"] {
    padding: 6px 12px;
    border: 2px solid $color-grey-2;

    &::before {
      content: none;
    }

    @include border-radius(10px);

    &:hover,
    &:active {
      background-color: $color-grey-2;
    }

    &:focus {
      &::before {
        border-color: $color-grey-2;
      }
    }
  }

  &[class*="--secondary"] {
    color: $color-black;
    background-color: $color-white;
    border: 2px solid $color-black;

    &:hover,
    &:active {
      color: $color-white;
      border: 2px solid $color-primary;
      background-color: $color-primary;
    }

    &:focus {
      background-color: $color-primary;

      &::before {
        border-color: $color-grey-2;
      }
    }
  }
}
