// ==========================================================================
// Components / footer
//
// ==========================================================================

.footer {
  background-color: $color-grey-4;
  color: $color-primary;
  font-size: 16px;

  p {
    font-size: 16px;
  }

  a {
    color: $color-primary;
  }

  h4 {
    font-size: rem-calc(18px);
    margin-bottom: rem-calc(12px);
  }

  .address {
    strong {
      color: $color-secondary;
    }
  }

  .row {
    justify-content: space-between;
  }

  &-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .footer-col_content {
    a {
      text-decoration: underline;
      opacity: 1;
      transition: opacity $transition-slow $ease-out-quart;

      @include u-all-state {
        opacity: 0.6;
      }
    }
  }

  // ------------------- Sub footer ---------------------
  .sub-footer {
    border-top: 1px solid $color-white;

    &__content {
      font-size: $font-size-xs;
      font-family: $font-secondary;
      display: flex;
      flex-direction: row;
      align-items: baseline;

      a {
        font-weight: 400;
        border-bottom: 0;
        opacity: 1;
        text-decoration: none;
        transition: opacity $transition-slow $ease-out-quart;
        margin-left: rem-calc(16px);

        @include u-all-state {
          text-decoration: none;
          opacity: 0.6;
        }
      }

      .copyright,
      .links {
        margin: rem-calc(16px) 0;
      }

      .copyright {
        font-weight: 600;
        letter-spacing: 0.5px;
      }

      .links {
        text-align: right;
      }

      .language-switcher {
        text-transform: uppercase;
        margin-left: 60px;
      }
    }
  }

  .social-media {
    a {
      .icon__wrapper {
        background-color: $color-black;
        color: $color-white;
      }

      &:hover,
      &:active {
        .icon__wrapper {
          background-color: $color-blue-2;
          color: $color-white;
        }
      }
    }
  }

  // ------------------- Menu ---------------------

  .menu {
    width: 100%;
    margin-bottom: 3rem;

    > .menu-item {
      font-weight: 400;
      margin-bottom: rem-calc(8px);

      > a {
        @include link-effect-border("normal", $color-white);
      }

      > .sub-menu {
        li {
          a {
            display: block;
            font-weight: 400;
            padding: 7px 0;
            opacity: 1;
            text-decoration: none;
            transition: opacity $transition-normal $ease-out-expo;

            @include u-all-state {
              text-decoration: none;
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}
