// ==========================================================================
// Components / form
//
// ==========================================================================

[class*="-form"] {
  p > span {
    width: 100%;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  select {
    width: 100%;
    background-color: white;
    color: $color-black;
    border: none;
  }

  textarea {
    width: 100%;
    background-color: white;
    color: $color-black;
    padding: $spacing;
    margin-top: 8px;
    border: none;
  }

  input[type="submit"] {
    background-color: transparent;
  }

  .field {
    label {
      position: relative;
      pointer-events: none;
      display: none;
    }

    &[data-label="floating"] {
      label {
        transform: translate3d(0, 28px, 0);
        transition: all $transition-normal $ease-out-quad;
        transform-origin: 0 0;

        &.floating-label-active {
          transform: translate3d(0, 2px, 0) scale(0.9);
        }
      }
    }
  }

  select {
    color: $color-white;
    display: block;
    outline: none;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: none;
    border-radius: 0.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAMCAYAAACNzvbFAAAABGdBTUEAALGPC/xhBQAAAJRJREFUKBVj+P37dxEQ1/7//5+JgQIA1K/569eveUBaiwHIeADE/4F4AbkGA/VpAx32EmpOHgOQYwvEn8k1GNlAoDnbgXx2sIfJNRingbBgJNVgggaSajDRBhJrMMkGEjKYbAPxGKwLDHdwskGJZZgGYmnkyAOyganu13+KDIRZjGYwIh3CFJBLQw1eDQxTSMImYBAAcj9YXGYL50UAAAAASUVORK5CYII=");
    background-repeat: no-repeat, repeat;
    background-position: right 4px top 50%, 0 0;
    background-size: 0.65em auto, 100%;

    &::after {
      content: "";
      position: absolute;
      top: 60%;
      margin-top: -6px;
      right: -20px;
      border: 1px solid $color-light-green;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      display: inline-block;
      padding: 3px;
      transition: all $transition-normal $ease-out-expo;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: $color-black !important;
    -webkit-box-shadow: 0 0 0 1000px $color-white inset;
    color: $color-white;
  }
}

// ---------------- Contact form 7 ---------------- //
.wpcf7-display-none {
  display: none;
}

div.wpcf7 {
  .screen-reader-response {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    border: 0;
  }

  // Needed in footer when email sent
  &-response-output {
    margin: 3em 0.5em 1em;
    padding: 0.2em 1em;
    border: 2px solid #f00;
    position: absolute;
  }

  // Needed in footer when email sent
  &-mail-sent-ok {
    border: 2px solid #398f14;
  }

  // Needed in footer when invalid email sent
  &-mail-sent-ng,
  &-aborted {
    border: 2px solid #f00;
  }

  &-spam-blocked {
    border: 2px solid #ffa500;
  }

  // Needed in footer when email sent with errors
  &-validation-errors,
  &-acceptance-missing {
    border: 2px solid #f7e700;
    display: none;
  }

  .ajax-loader {
    visibility: hidden;
    display: inline-block;
    width: 0;
    height: 16px;
    border: none;
    padding: 0;
    margin: 0 0 0 4px;
    vertical-align: middle;
  }

  .ajax-loader.is-active {
    visibility: visible;
  }

  div.ajax-error {
    display: none;
  }

  .placeheld {
    color: #888;
  }

  input[type="file"] {
    cursor: pointer;
  }

  input[type="file"]:disabled {
    cursor: default;
  }

  .wpcf7-submit:disabled {
    cursor: not-allowed;
  }
}

span.wpcf7 {
  // Needed in footer when invalid email sent ex. The e-mail address entered is invalid.
  &-not-valid-tip {
    color: #f00;
    font-size: 1em;
    font-weight: normal;
    display: block;
  }

  &-list-item {
    display: inline-block;
    margin: 0 0 0 1em;
  }

  &-list-item-label::before,
  &-list-item-label::after {
    content: " ";
  }
}

.use-floating-validation-tip span.wpcf7-not-valid-tip {
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 100;
  border: 1px solid #f00;
  background: #fff;
  padding: 0.2em 0.8em;
}
