// ==========================================================================
// Components / tiles
//
// ==========================================================================

.tile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  overflow: hidden; //define max height?
  border-radius: 24px;
  box-shadow: 0 1px 4px rgba(14, 31, 53, 0.12), 0 4px 8px rgba(14, 31, 53, 0.08);
  background-color: $color-white;
  height: 100%;
  box-sizing: border-box;

  &_featured {
    max-height: 300px;
  }

  /*
  a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    color: $white;
    text-decoration: none;
  }
  */

  &__image {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    &[class*="--tall"] {
      padding-top: 70%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__icon {
    background-color: $color-secondary;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 145px;
    flex-direction: column;
  }

  &__content {
    flex: 1;
    padding: rem-calc(32px);
  }

  ul {
    @extend %checkmark-list;
  }

  ul.secondary-list {
    @extend %chevron-list;
  }

  &[class*="--grey-bg"] {
    background-color: $color-grey-4;
  }

  &[class*="--dark-bg"] {
    background-color: $color-primary;
    color: $color-white;
  }
}
