// ==========================================================================
// Components / typography
//
// composed of placeholder classes used in content object and wherever you need
// for styles consistemcy
//
// ==========================================================================

/* Placeholders */

%h1 {
  font-family: $font-secondary;
  font-weight: 700;
  line-height: 1;
}

%h2 {
  font-family: $font-secondary;
  font-weight: 700;
  line-height: 1.17;
}

%h3 {
  font-family: $font-secondary;
  font-weight: 700;
  line-height: 1.25;
}

%h4 {
  font-family: $font-secondary;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.5px;
}

%h5 {
  font-family: $font-secondary;
  font-weight: 500;
  line-height: 1.5;
}

%h6 {
  font-family: $font-secondary;
  font-weight: 500;
  line-height: 1.1;
}

%blockquote {
  font-weight: 300;

  &::before {
    content: "\0000AB ";
  }

  &::after {
    content: " \0000BB";
  }
}

%small {
  font-size: 14px;
}

h1,
.h1 {
  @extend %h1;
}

h2,
.h2 {
  @extend %h2;
}

h3,
.h3 {
  @extend %h3;
}

h4,
.h4 {
  @extend %h4;
}

h5,
.h5 {
  @extend %h5;
}

h6,
.h6 {
  @extend %h6;
}

// From previous projects, review if we need the following
blockquote,
.blockquote {
  @extend %blockquote;

  /* stylelint-disable */
  :first-child {
    display: inline;
  }

  :last-child {
    display: inline;
  }
  /* stylelint-enable */
}

small,
.small {
  @extend %small;
}

.label {
  @extend %h5;

  text-transform: uppercase;
  margin-bottom: 8px;
}

.small-label {
  @extend %h5;

  font-weight: 400;
  margin-bottom: 8px;
}

%checkmark-list {
  li {
    position: relative;
    list-style-type: none;
    padding: 0.25rem 0 0 1.5rem;
    font-size: rem-calc(16px);
    line-height: 1.5;
    margin-bottom: rem-calc(5px);

    &::before {
      content: " ";
      display: block;
      width: 0.4rem;
      height: 0.8rem;
      border: solid $color-secondary;
      border-width: 0 1px 1px 0;
      position: absolute;
      left: 5px;
      top: 8px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
