// ==========================================================================
// Tools / fluid type
//
// [link] https://css-tricks.com/snippets/css/fluid-typography/
//
// ==========================================================================

/// Generate fluid type sizes between min and max breakpoints, and with min and max font sizes
/// @param {*} $min-breakpoint min breakpoint width
/// @param {*} $max-breakpoint max breakpoint width
/// @param {*} $min-font-size min font size
/// @param {*} $max-font-size max font size

@mixin fluid-type($min-breakpoint, $max-breakpoint, $min-font-size, $max-font-size) {
  $u1: unit($min-breakpoint);
  $u2: unit($max-breakpoint);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;

      @media screen and (min-width: $min-breakpoint) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-breakpoint}) / #{strip-unit($max-breakpoint - $min-breakpoint)}));
      }

      @media screen and (min-width: $max-breakpoint) {
        font-size: $max-font-size;
      }
    }
  }
}
