// ==========================================================================
// Settings / base
//
// root properties
// [more info] @https://developer.mozilla.org/fr/docs/Web/CSS/:root
//
// ==========================================================================

$root-font-family: sans-serif !default;
$root-font-size: 16px !default;
$root-font-weight: 400 !default;
$root-line-height: 1.4 !default;

$fonts-path: "../fonts/";
