// ==========================================================================
// Settings / colors
//
// colors scheme of the project
//
// ==========================================================================

// base color
$color-white: #fff;
$color-black: #000;

// main color scheme
$color-primary: #192730;
$color-secondary: #eb1c24;

$color-red-1: #ef4b50;
$color-red-2: #f2696d;

$color-grey-1: #91a5bf;
$color-grey-2: #b2c0d2;
$color-grey-3: #d3dbe5;
$color-grey-4: #f4f6f9;

$color-blue-1: #5e686e;
$color-blue-2: #37586c;

// other colors
$color-light-green: #d1d9c4;
$color-light-beige: rgba(#faf4e9, 0.5); // masks colors
$color-medium-carmine: #b55138;

// color theme map used accross the website
// used in objects > color themes
// ".o-theme-{modifiername}", background-color, color
// class are used on every color swatch in content management

$color-themes: (
  ( "light-green", $color-light-green, $color-primary ),
  ( "mid-green", $color-secondary, $color-white ),
  ( "dark-green", $color-primary, $color-light-green )
);
