// ==========================================================================
// Settings / icons
//
// define icon sizes
//
// ==========================================================================

/* to mode in tools
$icon-size-sm: 16px !default;
$icon-size-md: 24px !default;
$icon-size-lg: 32px !default;
$icon-size-xl: 48px !default;
*/

$icon-size-xs: 14px;
$icon-size-sm: 16px;
$icon-size-md: 20px;
$icon-size-lg: 30px;
$icon-size-xl: 40px;
$icon-size-xxl: 60px;
