// ==========================================================================
// Settings / z-index
//
//
//
// ==========================================================================

$z-index-over: 10 !default;
$z-index-overlay: 30 !default;
$z-index-modal: 40 !default;
$z-index-avert: 200 !default;
$z-index-page-trans: 100 !default;
