// ==========================================================================
// Templates / Videos
// ==========================================================================

.template-videos {
  .page-header {
    padding-top: rem-calc(100px);
    height: auto;
    min-height: auto;
    background-color: $color-grey-4;
    padding-bottom: 0;

    h1 {
      color: $color-black;
    }

    &__subtitle {
      color: $color-black;
    }

    &::before {
      content: none;
    }

    &__bg-img {
      img,
      picture {
        object-fit: cover;
        object-position: top;
      }

      @include media-breakpoint-up(md) {
        img,
        picture {
          object-fit: contain;
          object-position: bottom;
        }
      }
    }
  }

  .tile {
    padding: 0;

    &__description {
      font-weight: 400;
      color: $color-blue-2;
    }
  }
}
